<!doctype html>
<html>
<head>

<!-- See base.html-->
{% include "base.html" %}

{% block head %}

<title>Submitted! - Humble Beehaviour Cheese Co.</title>
</head>

{% endblock %}

<!-- Nav Bar-->
{% block navbar %} {% endblock %}

<body>
<!-- Response to applicant -->
    <div id="application_submitted">
    {{ firstname }} {{ lastname }}, thank you for applying to be a {{ desiredposition }}!<br>
    </br>Your minimum salary requirement is {{ desiredsalary }} USD.</div>
</body>

<!-- Footer-->
{% block content %}
{% endblock %}

</html>
