<!doctype html>
<html>
<head>
<!-- See base.html-->

<!-- Tab title -->
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel = "stylesheet">
<link rel="stylesheet" href="/static/styles.css">
<title>Confirmation- Humble Beehaviour Cheese Co.</title>
</head>

<body>
<!-- Response to applicant -->
    <div>
    Thank you, {{ firstname }} {{ lastname }}, for applying to be a {{ desiredposition }}.<br>
    </br>Your minimum salary requirement is {{ desiredsalary }} USD.</div>

</body>
</html>
