<!doctype html>
<html>
<head>

<!-- See index.html-->
{% block content %}
{% endblock %}

<!-- Tab title-->
		<title>Application - Humble Beehaviour Cheese Co.</title>

</head>
<body>

<!-- Company logo-->
	<div><img src="http://vignette1.wikia.nocookie.net/harvestmoondscute/images/a/a4/Cow.jpg" width="50" height="35" />
	</div><br></br>

<!-- Form that captures applicant's information begins here.-->
    <form action = "/application-form" method = "POST">
    	<div id = "first_name">First Name:</div>
    		<input type ="text" name = "firstname" placeholder="Your first name here"><br></br>
    	<div id = "last_name">Last Name:</div>
    		<input type ="text" name = "lastname" placeholder="Your last name here"><br></br>
    	<div id = "desired_position">Position applying for:</div>
    		<input type ="text" name = "desiredposition" placeholder="Cheese Handler"><br></br>
       	<div id = "minimum_salary">Minimum desired salary:</div>
    		<input type ="text" name = "desiredsalary" placeholder="$"><br></br>
    	<div id ="submit_button"><input type ="submit"></div>
    </form>

</body>
</html>