

<!-- Nav Bar-->
{% extends "base.html" %}

{% block head %}

    <title>{% block title %}{% endblock %} - Humble Beehaviour</title>
    <!-- Characters, Bootstrap and CSS-->
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Humble Beehaviour Cheese Co.</span>
                    <span class="icon-bar" href="/">Home</span>
                    <span class="icon-bar" href="/about">About our cows</span>
                    <span class="icon-bar" href="/application-form">Apply now!</span>
                </button>
                <a class="navbar-brand" href="/">MyFlask</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/bootstrap"></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}