
<!DOCTYPE html>


{% block head %}
    <!-- Characters, Bootstrap and CSS-->
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

{% endblock %}

<!-- Nav Bar-->
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Humble Beehaviour Cheese Co.</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/products">Products</a></li>
                    <li><a href="/storelocator">Store Locator</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/application-form">Apply now!</a></li>

                    <li><a href="/bootstrap"></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Footer-->
{% block content %}
    <footer id = "disclaimer">All rights reserved - Humble Beehaviour Cheese is not a subsidiary of Milk.co</footer>
{% endblock %}

</html>