<!doctype html>
<html>
<head>
<!-- See base.html-->

<!-- Tab Title-->
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel = "stylesheet">
<link rel="stylesheet" href="/static/styles.css">
<title>Humble Beehaviour Cheese Co.</title>

</head>

<body>

<!-- Greeting-->
	<h1 id = "home_company_name">Humble Beehaviour Cheese Co.</h1>
	<h3 id = "welcome_message">Welcome to our official website!</h3>

<!-- Company logo-->
	<div><img id ="cheese" src="http://worksheetgenius.com/Gfx/cheese.png"/></div>

</body>

<!-- Disclaimer-->
	<footer id = "disclaimer">All rights reserved - Humble Beehaviour Cheese is not a subsidiary of Milk.co</footer>

</html>
