<!doctype html>
<html>
<head>
<!-- See base.html-->

<!-- Tab Title-->
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel = "stylesheet">
<link rel="stylesheet" href="/static/styles.css">
<title>Humble Beehaviour Cheese Co.</title>

</head>

<body>

<!-- Greeting-->
<h1 id = "homepageheading">Hello, welcome to Humble Beehaviour's Cheese official website</h1>

<!-- Company logo-->
<div><img src="http://vignette1.wikia.nocookie.net/harvestmoondscute/images/a/a4/Cow.jpg"/></div>

<!-- Disclaimer-->
	<br></br><div id = "disclaimer">All rights reserved - Humble Beehaviour Cheese is not a subsidiary of Milk.co</div>

</body>
</html>
